In [145]:
import pandas as pd 
import re

In [3]:
allData = pd.read_csv("train.csv")

In [4]:
df = pd.DataFrame(allData)

In [49]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.iloc[1][3]

'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'

In [46]:
#Survival rate per sex
women = df.loc[(df.Sex == 'female')]
survivedWomen = df.loc[(df.Sex == 'female') & (df.Survived == 1)]
survivalRateWomen = len(survivedWomen)/len(women)

men = df.loc[(df.Sex == 'male')]
survivedMen = df.loc[(df.Sex == 'male') & (df.Survived == 1)]
survivalRateMen = len(survivedMen)/len(men)

print("Survival rate for women: " + str(survivalRateWomen))
print("Survival rate for men: " + str(survivalRateMen))

Survive rate for women: 0.7420382165605095
Survive rate for men: 0.18890814558058924

In [48]:
#Survival rate per wealth
upperClass = df.loc[(df.Pclass == 1)]
middleClass = df.loc[(df.Pclass == 2)]
lowerClass = df.loc[(df.Pclass == 3)]

survialsUpperClass = upperClass.loc[(df.Survived == 1)]
survialsMiddleClass = middleClass.loc[(df.Survived == 1)]
survialsLowerClass = lowerClass.loc[(df.Survived == 1)]

print("Survival rate for upper class: " + str(len(survialsUpperClass)/len(upperClass)))
print("Survival rate for middle class: " + str(len(survialsMiddleClass)/len(middleClass)))
print("Survival rate for lower class: " + str(len(survialsLowerClass)/len(lowerClass)))

Survival rate for upper class: 0.6296296296296297
Survival rate for middle class: 0.47282608695652173
Survival rate for lower class: 0.24236252545824846

In [50]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [85]:
#correcting decimal to integer age
for idx, row in df.iterrows():
    if (row['Age'] < 1 and row['Age'] > 0):
        df.at(idx, 'Age') *= 100

In [149]:
_addCol = df.assign(Title=lambda x: re.search(',(.*)\.', str(x.Name))

SyntaxError: unexpected EOF while parsing (<ipython-input-149-596f6e3ab8b7>, line 1)

SyntaxError: invalid syntax (<ipython-input-154-4673374a923b>, line 1)

In [138]:
for i in df.iterrows():
    if df.Name.empty:
        print(i)

In [90]:
_addCol

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Braund, Mr. Owen Harris"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"Cumings, Mrs. John Bradley (Florence Briggs Th..."
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"Heikkinen, Miss. Laina"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"Futrelle, Mrs. Jacques Heath (Lily May Peel)"
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"Allen, Mr. William Henry"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,"Montvila, Rev. Juozas"
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,"Graham, Miss. Margaret Edith"
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,"Johnston, Miss. Catherine Helen ""Carrie"""
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,"Behr, Mr. Karl Howell"
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,"Dooley, Mr. Patrick"

hi